
# ğŸ§© Bloc 2 â€” SessiÃ³ 1: EDA(Exploratory Data Analysis) 
## Comprendre i explorar les dades

> Objectiu: fer una **exploraciÃ³ inicial** dâ€™un dataset reals amb Pandas, identificar **valors nuls**, **tipus de variables** i generar una **fitxa de diagnÃ²stic**.


## ğŸ¯ Objectius especÃ­fics
- Comprendre lâ€™estructura dâ€™un `DataFrame` (columnes, files, Ã­ndex).
- Descriure dades amb `.head()`, `.info()`, `.describe()` i `.value_counts()`.
- Detectar **valors nuls**, **duplicats** i **inconsistÃ¨ncies** bÃ siques.
- Aplicar **estadÃ­stica descriptiva** bÃ sica: mitjana, mediana, desviaciÃ³ estÃ ndard.
- Escriure un **comentari interpretatiu** sobre el dataset.

In [1]:

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# ğŸ“¦ PreparaciÃ³ de l'entorn
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
import pandas as pd
import numpy as np


## ğŸ“ Dades de treball
Treballarem amb el dataset **Students Performance in Exams**. Pots aconseguir-lo a Kaggle:  
https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

**Nom del fitxer recomanat:** `StudentsPerformance.csv`

In [2]:

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# ğŸ”½ Carrega del dataset
# TODO: Canvia el nom de fitxer o ruta si cal.
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
csv_path = "StudentsPerformance.csv"  # TODO: edita si el fitxer tÃ© un nom/ruta diferent
data = pd.read_csv(csv_path)

# Mostra una previsualitzaciÃ³ de les primeres files
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
# Afegir nulls per provar
# 1. nulls a la columna 'math score': afegirem un 5% de nulls
num_nulls = int(0.05 * len(data))
null_indices = np.random.choice(data.index, num_nulls, replace=False)
data.loc[null_indices, 'math score'] = np.nan

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# 2. nulls a la columna reading score': afegirem un 10% de nulls
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
num_nulls = int(0.10 * len(data))
null_indices = np.random.choice(data.index, num_nulls, replace=False)
data.loc[null_indices, 'reading score'] = np.nan

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# 3. nulls a la columna race/ethnicity': afegirem un 3% de nulls
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
num_nulls = int(0.03 * len(data))
null_indices = np.random.choice(data.index, num_nulls, replace=False)
data.loc[null_indices, 'race/ethnicity'] = np.nan
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# guardar el nou csv amb nulls
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
data.to_csv("StudentsPerformance_with_nulls.csv", index=False)
# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€


## ğŸ” ExploraciÃ³ inicial
Utilitza les funcions bÃ siques per entendre lâ€™estructura i el contingut:
- `.shape`, `.columns`, `.dtypes`
- `.head()`, `.tail()`
- `.info()` i `.describe()`

In [9]:

# Dimensions i columnes
print("Dimensions del dataset:", data.shape)
print("Columnes del dataset:", data.columns.tolist())

# InformaciÃ³ general i resum estadÃ­stic
data.info()
print(data.describe(include='all'))

Dimensions del dataset: (1000, 8)
Columnes del dataset: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               970 non-null    object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   950 non-null    float64
 6   reading score                900 non-null    float64
 7   writing score                1000 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 62.6+ KB
        gender race/ethnicity parental level of education     lunch  \
count     1000            970                        1000      1000
unique       2              5                           6         2
top     female        group C                some college  standard
freq       518            308                         226       645
mean       NaN            NaN                         NaN       NaN
std        NaN            NaN                         NaN       NaN
min        NaN            NaN                         NaN       NaN
25%        NaN            NaN                         NaN       NaN
50%        NaN            NaN                         NaN       NaN
75%        NaN            NaN                         NaN       NaN
max        NaN            NaN                         NaN       NaN

       test preparation course  math score  reading score  writing score
count                     1000  950.000000     900.000000    1000.000000
unique                       2         NaN            NaN            NaN
top                       none         NaN            NaN            NaN
freq                       642         NaN            NaN            NaN
mean                       NaN   65.987368      69.190000      68.054000
std                        NaN   15.195663      14.710575      15.195657
min                        NaN    0.000000      17.000000      10.000000
25%                        NaN   57.000000      59.000000      57.750000
50%                        NaN   66.000000      70.000000      69.000000
75%                        NaN   76.000000      80.000000      79.000000
max                        NaN  100.000000     100.000000     100.000000


## ğŸ§¼ Qualitat de dades
- **Valors nuls**: comprova per columna.
- **Duplicats**: comprova files repetides.
- **Formats incorrectes**: detecta incompatibilitats de tipus.

> **Tasca:** Identifica on hi ha possibles problemes i proposa una acciÃ³.

In [10]:

# Valors nuls per columna
nulls = data.isnull().sum().sort_values(ascending=False)
nulls

reading score                  100
math score                      50
race/ethnicity                  30
gender                           0
parental level of education      0
lunch                            0
test preparation course          0
writing score                    0
dtype: int64

In [5]:

# ComprovaciÃ³ de duplicats
n_dup = data.duplicated().sum()
print(f"Nombre de files duplicades: {n_dup}")
# Vista opcional de duplicats
# data[data.duplicated(keep=False)].head()

Nombre de files duplicades: 0


## ğŸ“Š EstadÃ­stica descriptiva bÃ sica
Calcula mesures centrals i de dispersiÃ³ de les variables numÃ¨riques (p. ex., `math score`, `reading score`, `writing score`).

> **Recordatori matemÃ tic (Just In Time):**
> - Mitjana: $\bar{x} = \frac{1}{n}\sum x_i$
> - DesviaciÃ³ estÃ ndard: $\sigma = \sqrt{\frac{1}{n}\sum (x_i - \bar{x})^2}$
> - Mediana: valor central de les dades ordenades.

In [6]:

# TODO: Substitueix per les columnes numÃ¨riques del teu dataset si tenen un nom diferent
num_cols = ["math score", "reading score", "writing score"]
stats = pd.DataFrame({
    "mitjana": [data[c].mean() for c in num_cols],
    "mediana": [data[c].median() for c in num_cols],
    "desviacio_estandard": [data[c].std() for c in num_cols],
}, index=num_cols)
stats

               mitjana  mediana  desviacio_estandard
math score      66.089     66.0            15.163080
reading score   69.169     70.0            14.600192
writing score   68.054     69.0            15.195657


## ğŸ·ï¸ Variables categÃ²riques
Explora la distribuciÃ³ de les columnes categÃ²riques mÃ©s rellevants (ex.: `gender`, `race/ethnicity`, `parental level of education`).

> **Tasca:** Observa si hi ha **desequilibris** clars en alguna categoria.

In [7]:

# TODO: Afegeix o modifica la llista de columnes categÃ²riques si cal
cat_cols = ["gender", "race/ethnicity", "parental level of education", "lunch", "test preparation course"]

for col in cat_cols:
    if col in data.columns:
        print(f"\nDistribuciÃ³ de {col}:")
        print(data[col].value_counts(dropna=False))

DistribuciÃ³ de gender:
gender
female    518
male      482
Name: count, dtype: int64

DistribuciÃ³ de race/ethnicity:
race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

DistribuciÃ³ de parental level of education:
parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

DistribuciÃ³ de lunch:
lunch
standard        645
free/reduced    355
Name: count, dtype: int64

DistribuciÃ³ de test preparation course:
test preparation course
none         642
completed    358
Name: count, dtype: int64


## ğŸ“ˆ (Opcional) VisualitzaciÃ³ rÃ pida
Per escalfar motors de la propera sessiÃ³ (visualitzaciÃ³ i outliers), fes alguna grÃ fica senzilla.

> **Idees:** histograma dâ€™una nota o boxplot per gÃ¨nere.

In [ ]:

# ğŸ” OPCIONAL: activa una d'aquestes lÃ­nies
# data["math score"].hist()
# data.boxplot(column="math score", by="gender", grid=False)


## ğŸ—‚ï¸ Fitxa de diagnÃ²stic (respon aquÃ­)
**1) Estructura del dataset**  
- Files i columnes:  
- Columnes numÃ¨riques:  
- Columnes categÃ²riques:  

**2) Qualitat de dades**  
- Valors nuls detectats (on?):  
- Duplicats (quants?):  
- Altres incidÃ¨ncies:  

**3) EstadÃ­stica descriptiva**  
- DiferÃ¨ncies destacables entre mitjana i mediana:  
- Columnes amb mÃ©s dispersiÃ³ (desviaciÃ³ estÃ ndard alta):  

**4) InterpretaciÃ³** *(5â€“10 lÃ­nies)*  
- Quines variables semblen relacionar-se?  
- Sâ€™observen diferÃ¨ncies de rendiment per gÃ¨nere o altres categories?  
- Quines hipÃ²tesis podries plantejar per a un model de predicciÃ³?